/* ------------------------------------------------------------------------------------------------- */
/* fonts */
/* ------------------------------------------------------------------------------------------------- */

/*
TODO
@import url("https://fonts.googleapis.com/css?family=Oxygen:300");
*/

/* ------------------------------------------------------------------------------------------------- */
/* color scheme */
/* ------------------------------------------------------------------------------------------------- */

$blue: #02b3e4;
$dark-gray: #2d3c49;
$light-gray: #7d97ad;

/* ------------------------------------------------------------------------------------------------- */
/* Basic layout elements */
/* ------------------------------------------------------------------------------------------------- */

h1, h2 {
	color: $dark-gray;
}

h3, h4 {
	color: $light-gray
}

hr {
  clear: both;
  color: $light-gray;
  background-color: $light-gray;
  height: 4px;
  border-width: 0;
}

.logo {
  max-height: 45px;
}

.nav-background {
  background-color: $dark-gray;
}

.main-title {
  margin-top: 0.5em;
}

/*Fixme: It work only on Firefox ,Chrome is the troublemaker! */
.card-margin {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* ------------------------------------------------------------------------------------------------- */
/* Embellishments */
/* ------------------------------------------------------------------------------------------------- */

.radius {
    border-radius: 6px;
}

.shadow {
  box-shadow:0 6px 6px -6px #333 !important;
}

.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

/* ------------------------------------------------------------------------------------------------- */
